<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" href="/css/styleModificarproducto.css">
</head>
<body>
    <%-include('./partials/header') %>
    <main>
        <img src = "/img/<%=product.img %>">
        <div class = "descripcion">
            <h1> <%= product.nombre  %> </h1>
            <h2><%= product.descripcion %> </h2>
            <ul>
                <% for(detalles of product.datosDestacados){ %>
                    <li> <%= detaalles %> </li>     
                <% } %>  
            </ul>
        </div>
        <div id = botonesUno>
            <button type="button" class = "button"> sin stock</button>
            <form action="/delete/<%= producto.id %>?_method=DELETE" method="post"> 
                <button type="submit" class = "button"> eliminar producto</button>
            </form>
        </div>
        <form action="/edit/<%= product.id%>?_method=PUT " method="post">
            <label for="newMoney">precio</label>
            <input type="number" name="precio" value = "<%= producto.precio %>" >

            <label for = "newPhoto">cambiar foto</label>
            <input type="file" accept = ".jpg, .png" name = "foto" value = "<%= producto.img %>">

            <label for = "formaDePago"> Formas de pago aceptadas</label>
            <div> 
                <div>
                    <input type="checkbox" name = "efectivo" <%= product.formasDePago.includes('efectivo')? "selected" : null%> >
                    <label for="efectivo">efectivo</label>
                </div>
                <div>
                    <input type="checkbox"  name = "tarjeta" <%= product.formasDePago.includes('tarjeta')? "selected" : null%> >
                    <label for="tarjeta">tarjeta</label></div>
                <div>
                    <input type="checkbox"  name = "cuotas" <%= product.formasDePago.includes('cuotas')? "selected" : null%> >
                    <label for="cuotas">cuotas</label>
                </div>  
            </div>


            <div id = botonesDos>
                <button type= "reset" class= "button">resetear</button>
                <button type= "submit"  class= "button">enviar</button> 
            </div>
        </form>
    </main>
    <%-include('./partials/footer') %>
</body>