<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/styleProduct.css" media="screen">
</head>
<body>
    <%-include('./partials/header') %>
    <main>
        <div id ="productosEnSI">
            <div id = "fotosProducto">
                <img src = "/img/product/<%= producto.img %>" name= "logo" id="imagenProducto">
                <div class = "imagenes-descriptivas">
                    <% for(imagen of product.imgAux){ %> 
                    <img src = "/img/<%=imagen%>" name= "logo">
                    <% } %> 
                </div>
            </div>
            <div class="informacion">
                <h1> <%= producto.nombre %></h1>
                <p id ="infoProducto"><%= producto.descripcion %></p>
                <div class = "descripcion">
                    <h2>Descripcion</h2>
                    <ul class = "infoInterna">
                        <% for(dato of producto.datosDestacados){ %> 
                        <li><%= dato %></li>
                        <% } %> 
                    </ul>
                </div>
                
                <div class = "formas-de-pago descripcion" >
                    <h2>Forma de pago</h2>
                    <ul class = "infoInterna">
                        <% for(pagos of producto.formaDePago){ %> 
                        <li><%= pagos %></li>
                        <% } %> 
                    </ul>
                </div>

                <div class = "garantia descripcion">
                    <h2>Garantia</h2>
                    <p class = "infoInterna"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsa cumque, libero sapiente molestias praesentium est saepe minima blanditiis repellendus iste, quas distinctio illo aspernatur? Hic voluptatibus temporibus placeat quis.</p>
                </div>

                <div class="envio descripcion">
                    <h2> Forma de envio</h2>
                    <ul class = "infoInterna">
                        <li>interior</li>
                        <li>caba</li>
                        <li>local</li>
                    </ul>
                </div>
                <div id = "comprarProducto">
                    <p> Precio : <%= producto.precio %>  </p>
                    <button type="button" class="button carrito"><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </div>
        </div>
        <div class="productos-recomendados">
            <section> 
                <a href="#"><img src = "/img/<%= productRecomiend[0].img %> "name= "logo"></a>
                <div class="descripcion-recomendado">
                    <h3><%= productRecomiend[0].nombre %></h3>
                    <p><%= productRecomiend[0].descripcion %></p>
                </div>
            </section>

            <section> 
                <a href="#"><img src = "/img/<%= productRecomiend[1].img %> "name= "logo"></a>
                <div class="descripcion-recomendado">
                    <h3><%= productRecomiend[0].nombre %></h3>
                    <p><%= productRecomiend[0].descripcion %></p>
                </div>
            </section>

            <section id = "tercer-Producto"> 
                <a href="#"><img src = "/img/<%= productRecomiend[2].img %>"name= "logo"></a>
                <div class="descripcion-recomendado">
                    <h3><%= productRecomiend[0].nombre %></h3>
                    <p><%= productRecomiend[0].descripcion %></p>
                </div>
            </section>

        </div>
    </main>
    <%-include('./partials/footer') %>
</body>
</html>