<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    
    <link rel="stylesheet" type="text/css" href="/css/styleProductGeneric.css" media="screen">

    
</head>
<body>
    <%-include('./partials/header') %>
    <main>
        <div class="Opciones">
            <img src ="/img/categoria/<%= categoria.img_Baner %> ">
            <select class = "button">
                <option value="masNuevo">Del mas nuevo al mas viejo</option>
                <option value="masViejo">Del mas viejo al mas nuevo</option>
                <option value="masBarato">El mas caro</option>
                <option value="masCaro">El mas barato</option>
                <option value="destacados"> Destacados</option>
            </select>
        </div>
        <div class="MainProductos"> 
            <% if(productos.length == 0){ %>
                <h1> Aun no se tiene productos de esta categorias</h1>    
            <% } %> 
            <% for(producto of productos){ %> 
            <article class="productoDestacado">
                <a href="/product/<%= producto.id %> "><img class="imagenProductoDestacado" src="/img/product/<%= producto.img %> "></a>
                <h3><%= producto.nombre %></h3>
                <h4><%= producto.precio %></h4>
            </article>
            <% } %> 
        </div>
        

    </main>
    <%-include('./partials/footer') %>
</body>
</html>